# ViM files
_backup
_temp
.netrwhist

# modules that are downloaded
janus/janus/vim/tools/

# Vimius file
.vimius

# Plugins without git-mirror
watchtower.vim
mustache.vim

# pathogen / vundle packages
bundle

.vimrc
.gvimrc
pairing.sh
